@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@300;700&family=Plus+Jakarta+Sans:wght@500;600&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

img,
div,
section {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Variables */

:root {
  --fontfamilytitle: "Fraunces", sans-serif;
  --fontfamilyParagraph: "Plus Jakarta Sans";
  --fontsizeTitle80: 80px;
  --fontsizeTitle64: 64px;
  --fontsizeTitle56: 56px;
  --fontsizeTitle40: 40px;
  --fontsizeTitle32: 32px;
  --fontsizeTitle28: 28px;
  --fontsizeParagraph20: 20px;
  --fontsizeParagraph18: 18px;
  --fontsizeParagraph16: 16px;
  --fontsizeParagraph24: 24px;
  --colorBrown100: #f7e0cd;
  --colorBrown800: #442a19;
}

/* Typography */

.title80 {
  font-family: var(--fontfamilytitle);
  font-size: var(--fontsizeTitle80);
  font-weight: 700;
  line-height: 96px;
  letter-spacing: -0.02em;
  color: var(--colorBrown800);
}

.title64 {
  font-family: var(--fontfamilytitle);
  font-size: var(--fontsizeTitle64);
  font-weight: 700;
  line-height: 76.8px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--colorBrown800);
}

.title56 {
  font-family: var(--fontfamilytitle);
  font-size: var(--fontsizeTitle56);
  font-weight: 300;
  line-height: 67.2px;
  letter-spacing: -0.02em;
  font-variation-settings: "SOFT" 100, "WONK" 1;
}

.title40 {
  font-family: var(--fontfamilytitle);
  font-size: var(--fontsizeTitle40);
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  font-variation-settings: "SOFT" 100, "WONK" 1;
  color: var(--colorBrown800);
}

.title32 {
  font-family: var(--fontfamilytitle);
  font-size: var(--fontsizeTitle32);
  font-weight: 700;
  line-height: 44.8px;
  letter-spacing: -0.02em;
  color: var(--colorBrown800);
}

.title28 {
  font-family: var(--fontfamilytitle);
  font-size: var(--fontsizeTitle32);
  font-weight: 700;
  line-height: 39.2px;
  letter-spacing: -0.02em;
  text-align: center;
  font-variation-settings: "SOFT" 0, "WONK" 1;
  color: var(--colorBrown800);
}

.paragraph16 {
  font-family: var(--fontfamilyParagraph);
  font-size: var(--fontsizeParagraph16);
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--colorBrown800);
}

.paragraph18 {
  font-family: var(--fontfamilyParagraph);
  font-size: var(--fontsizeParagraph18);
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.paragraph20 {
  font-family: var(--fontfamilyParagraph);
  font-size: var(--fontsizeParagraph20);
  font-weight: 500;
  line-height: 32px;
  color: var(--colorBrown800);
}

.paragraph24 {
  font-family: var(--fontfamilyParagraph);
  font-size: var(--fontsizeParagraph24);
  font-weight: 600;
  line-height: 32px;
  color: var(--colorBrown800);
}
/* Global Styles */

#hero {
  position: relative;
  overflow: hidden;
  height: 788px;
}

#nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 30;
}

#nav-items {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
  padding-left: 4rem /* 64px */;
  padding-right: 4rem /* 64px */;
  height: 5rem;
}

#logo {
  position: absolute;
  left: 4rem /* 64px */;
  height: 3.5rem /* 56px */;
  width: auto;
}

#gradient {
  position: absolute;
  top: 0;
  height: 214px;
  width: 100%;
  background: linear-gradient(
    180deg,
    #ffffff 0.5%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 29;
}

#tagline {
  position: fixed;
  z-index: 30;
  top: 188px;
  display: flex;
  justify-content: center;
  width: 100%;
}

#sky {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 20;
  height: 862px;
  object-fit: cover;
}

#grass {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 40;
  height: 60%;
  object-fit: cover;
}

#contact-button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

#content {
  background-color: var(--colorBrown100);
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 6rem;
}

#top-content {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

#leafs {
  top: 0;
  position: sticky;
  height: 0;
}

#leafs img {
  height: auto;
  position: absolute;
  right: -160px;
  top: 150px;
}

#stats {
  justify-content: space-between;
  z-index: 10;
  margin-top: 3rem; /* 48px */
  position: relative;
  display: flex;
}

#stats-countries {
  display: flex;
  flex-direction: column;
  width: 526px;
  justify-content: space-between;
  height: 450px;
  z-index: 10;
}

#stats-facts {
  width: 526px;
}

#stats-facts div[class*="title"] {
  display: none;
}

#impact {
  display: flex;
  width: 100vw;
  position: relative;
}

#impact-statement {
  display: flex;
  background-color: white;
  margin-top: 3rem; /* 48px */
  margin-bottom: 3rem; /* 48px */
  flex: 1;
  justify-content: flex-end;
  z-index: 20;
}

#impact-image {
  border-top-left-radius: 48px;
  border-bottom-left-radius: 48px;
  flex: 1;
  object-fit: cover;
  height: 820px;
  z-index: 20;
}

#benefits {
  display: flex;
  gap: 3rem;
}

#benefits img {
  padding: 1.5rem;
}

#benefits h3 {
  margin-bottom: 1.5rem;
}

#produce {
  display: flex;
  gap: 6rem;
}

#produce-portfolio {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  flex: 1;
  grid-row-gap: 2rem; /* Vertical gap */
  grid-column-gap: 5rem; /* Horizontal gap */
}

#produce-portfolio div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#produce-portfolio img {
  padding-left: 2rem;
  padding-right: 2rem;
}

#produce-portfolio h3,
#produce-portfolio p {
  text-align: center;
}

#mfarms-plus {
  padding-bottom: 3rem;
  background: white;
  z-index: 20;
}

#gallery img {
  max-width: 176px;
  height: auto;
}

#mfarms-plus > img {
  max-width: 100vw;
  height: auto;
}

#mfarms-plus-content {
  gap: 6rem;
}

#mfarms-plus-content > div:first-of-type {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 96px;
  margin-top: 3rem;
}

#mfarms-plus-download {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

#mfarms-plus-download img {
  width: auto;
  height: auto;
  max-width: 100%; /* Optional: ensures images don't overflow their container */
}

#app {
  flex: 1;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 5rem; /* 20px */
  height: 750px;
  margin-top: 3rem; /* 12px */
}

#app img {
  width: 526px;
  height: auto;
  float: right;
}

#profiles {
  display: flex;
  gap: 2rem;
}

#profiles > div:first-of-type {
  align-self: flex-end;
}

#profiles div {
  display: flex;
  flex-direction: column;
}

#contact {
  background: #006633;
  z-index: 20;
  padding-top: 3rem;
}

#contact-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}

#contact-means {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 526px;
  align-self: center;
}

#contact-means > div {
  display: flex;
  gap: 3rem;
  align-items: center;
}

img#footer {
  width: 3440px;
  object-fit: none;
  height: 286px;
  margin-top: 24px;
}

.nav:hover {
  color: #1d4ed8; /* Tailwind's blue-700 */
}

.nav {
  padding-top: 0.5rem /* 12px */;
  padding-bottom: 0.5rem /* 12px */;
  padding-left: 0.75rem /* 64px */;
  padding-right: 0.75rem /* 64px */;
  color: var(--colorBrown800);
}

.section {
  width: 1296px;
  position: relative;
  z-index: 10;
  margin: 0 auto;
}

.sun {
  position: absolute;
  transform: translate(-25%, -50%);
  z-index: 0;
  transform-origin: center;
}

.stats-display {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  justify-content: space-between;
  width: 526px;
}

.stats-display > div > p:nth-child(2) {
  color: #7a614f;
}

.mission {
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.paragraphs-small {
  display: flex;
  flex-direction: column;
  padding-right: 8rem;
  flex: 1;
  self-align: center;
}

.paragraphs-small h2 {
  margin-bottom: 3.5rem;
}

.paragraphs-small div {
  margin-bottom: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 3rem;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  display: inline-block; /* Ensure the button only takes up the space of the text and padding */
  background-color: white;
  color: black;
  border-radius: 9999px; /* Full rounded */
  padding-top: 0.75rem; /* 12px */
  padding-bottom: 0.75rem; /* 12px */
  padding-left: 3rem; /* 48px */
  padding-right: 3rem; /* 48px */
  text-align: center; /* Center the text inside the button */
  white-space: nowrap; /* Prevent text from wrapping */
}

.part {
  width: 526px;
}

.part-half {
  width: 648px;
}

/* Media Queries */
@media (max-width: 768px) {
  h2,
  h3 {
    text-align: center !important;
  }

  h2,
  h3 {
    margin-bottom: 2rem !important;
  }

  .title80 {
    font-size: var(--fontsizeTitle40);
    line-height: 48px;
  }

  .title64 {
    font-size: 40px;
    line-height: 48px;
  }

  .title56 {
    font-size: var(--fontsizeTitle40);
    line-height: 48px;
  }

  .title40 {
    font-size: 24px;
    line-height: 29px;
  }

  .title32 {
    font-size: 20px;
    line-height: 28px;
  }

  .title28 {
    font-size: 24px;
    line-height: 34px;
  }

  .paragraph20 {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  .paragraph24 {
    font-size: 22px;
    line-height: 32px;
  }

  #hero {
    height: 640px;
  }

  #tagline {
    top: 177px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #nav-items div {
    display: none;
  }

  #logo {
    left: 1rem;
  }

  #stats {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: nowrap;
  }

  #stats-countries {
    display: none;
  }

  #stats-facts {
    width: 100vw;
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding-right: 159px;
    scrollbar-width: none;
  }

  #stats-facts div[class*="title"] {
    display: inline-block;
  }

  #impact {
    flex-direction: column-reverse;
  }

  #impact-image {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    max-height: 312px;
  }

  #impact-statement {
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--colorBrown100);
    text-align: center;
  }

  #benefits {
    overflow-x: auto;
    scrollbar-width: none;
  }

  #benefits div {
    min-width: 264px;
    gap: 24px;
  }

  #benefits img {
    padding: 0;
  }

  #produce {
    flex-direction: column;
    gap: 48px;
  }

  #produce-portfolio {
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  #produce-portfolio div {
    min-width: 264px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #produce-portfolio img {
    padding: 0;
  }

  #mfarms-plus-content {
    flex-direction: column-reverse;
    gap: 48px;
  }

  #mfarms-plus-content .paragraphs {
    gap: 0;
  }

  #mfarms-plus-download {
    margin-top: 24px;
    flex-direction: column;
    gap: 16px;
  }

  #app {
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 400px;
    top: 0;
    margin-top: 48px;
  }

  #about-us {
    flex-direction: column;
    gap: 24px;
  }

  #profiles {
    justify-content: center;
  }

  #profiles > div {
    max-width: 264px;
  }

  #contact-means {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
  }

  #contact button {
    align-self: center;
  }

  #contact-means > div {
    flex-direction: column;
    gap: 8px;
  }

  #contact-means > div > div {
    flex-direction: column;
    text-align: center;
  }

  .stats-display {
    gap: 2rem;
    position: relative;
    width: 318.33px;
    flex: 0 0 auto;
  }

  .mission {
    flex-direction: column;
    text-align: center;
  }

  .sun {
    width: 450px;
    height: 450px;
    transform: translate(-15%, -50%);
  }

  .illustration {
    max-width: 312px;
    max-height: 312px;
  }

  .first-mission {
    flex-flow: column-reverse;
  }

  .part {
    width: 100%;
  }

  .paragraphs-small {
    padding-right: 0;
  }

  .paragraphs-small div {
    margin-bottom: 0;
  }

  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .padding {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (max-width: 360px) {
  #tagline {
    top: 100px;
  }

  #stats-facts div[class*="title"] {
    display: none;
  }

  #stats-countries {
    display: block;
    height: 100%;
    padding-left: 24px;
  }

  #stats-countries > div:nth-child(1) {
    display: flex;
    gap: 16px;
  }

  #stats-countries > div:nth-child(2) {
    display: none;
  }

  #impact-statement {
    padding: 0 24px 0 24px;
  }

  #benefits {
    gap: 12px;
  }

  .padding {
    padding-left: 24px;
    padding-right: 24px;
  }

  .mission {
    padding: 0 24px 0 24px;
  }

  .gallery {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  #profiles {
    overflow-x: auto;
    justify-content: left;
    scrollbar-width: none;
  }

  #profiles > div {
    min-width: 264px;
  }
}

/* Utitlity Classes */

.center {
  text-align: center;
}

.light {
  color: #7a614f;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  background-color: black;
  height: 100px;
}

.hidden {
  display: none;
}

.my-14 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.flex {
  display: flex;
}

.-z-10 {
  z-index: -10;
}

.gap-2 {
  gap: 0.5rem;
}

.text-white {
  color: #fff;
}

.bg-green {
  background-color: #348714;
}

@media (max-width: 768px) {
  .md-flex {
    display: flex;
  }

  .md-hidden {
    display: none;
  }

  .md-mt-14 {
    margin-top: 3.5rem;
  }

  .md-mb-8 {
    margin-bottom: 2rem;
  }

  .md-display {
    display: block;
  }

  .md-p-0 {
    padding: 0;
  }
}

/* Animations */

.transition-all {
  transition: all 0.5s; /* Default duration of 0.5s */
}

/* Ease-in timing function */
.ease-in {
  transition-timing-function: ease-in;
}

/* Duration of 500 milliseconds */
.duration-500 {
  transition-duration: 500ms;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-slide-in {
  animation: slide-in 1s forwards;
}

.animate-slide-out {
  animation: slide-out 1s forwards;
}
